# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

.build
/.build/
dist

.nyc_output

coverage

out-logger.json

.DS_Store

.webpack
.webpackCache
.idea

yarn-error.log
*/yarn-error.log